div1{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.wrapper{
    text-align:center;
}
.button{
    position: absolute;
    top: 50%;

}